---
layout: archive
title: "Blog"
permalink: /talks/
author_profile: true
---

{% include base_path %}

Here are some blog articles that I have written to motivate novel and existing ideas. My fundamental target is always clarity of exposition, reproducibility of results, and bridging theory and application. If you have a comment or any questions, please send me an email.

{% for post in site.talks reversed %}
  {% include archive-single.html %}
{% endfor %}

<br>

<br>

A lot of effort goes into each post, so if any post helps you in any way please consider citing it using the reference

<pre>
@misc{VohraNaren,
 author = {Vohra, Naren},
 title = {Title of post},
 url = {https://nvohra0016.github.io/talks/title-of-particular-post},
 year = {mm/yyyy},
}
</pre>